In [233]:
import pandas as pd

In [234]:
# read in people dataset
people = pd.read_csv('./data/FL/final_people.csv')
people.head()

,person_id,sex,race,birth_date,num_jailings,first_jailing_date,last_jailing_date,last_jailing_release,num_incarcerations,first_incarceration_date,...,comp_f_max_score,comp_f_max_decile,comp_r_min_score,comp_r_min_decile,comp_r_max_score,comp_r_max_decile,comp_v_min_score,comp_v_min_decile,comp_v_max_score,comp_v_max_decile
0,1,Male,Other,1947-04-18 00:00:00.000000,2,2013-08-13 06:03:42.000000,2014-07-07 09:26:12.000000,2014-07-14 08:24:15.000000,0,NaN,...,13,1,-2.78,1,-2.78,1,-4.31,1,-4.31,1
1,2,Male,Caucasian,1985-02-06 00:00:00.000000,1,2014-12-30 10:47:52.000000,2014-12-30 10:47:52.000000,2015-01-03 02:18:24.000000,0,NaN,...,16,2,-0.34,5,-0.34,5,-2.75,2,-2.75,2
2,3,Male,African-American,1982-01-22 00:00:00.000000,1,2013-01-26 03:45:27.000000,2013-01-26 03:45:27.000000,2013-02-05 05:36:53.000000,1,2015-10-15 00:00:00.000000,...,25,6,-0.76,3,-0.76,3,-3.07,1,-3.07,1
3,4,Male,African-American,1991-05-14 00:00:00.000000,5,2013-04-13 04:58:34.000000,2016-01-08 09:59:55.000000,2016-01-09 04:41:39.000000,0,NaN,...,26,7,-0.66,4,-0.66,4,-2.26,3,-2.26,3
4,5,Male,African-American,1993-01-21 00:00:00.000000,0,NaN,NaN,NaN,0,NaN,...,19,3,0.16,8,0.16,8,-1.59,6,-1.59,6

In [235]:
# check people data types
people.dtypes

person_id                       int64
sex                            object
race                           object
birth_date                     object
num_jailings                    int64
first_jailing_date             object
last_jailing_date              object
last_jailing_release           object
num_incarcerations              int64
first_incarceration_date       object
last_incarceration_date        object
last_incarceration_release     object
comp_f_min_score                int64
comp_f_min_decile               int64
comp_f_max_score                int64
comp_f_max_decile               int64
comp_r_min_score              float64
comp_r_min_decile               int64
comp_r_max_score              float64
comp_r_max_decile               int64
comp_v_min_score              float64
comp_v_min_decile               int64
comp_v_max_score              float64
comp_v_max_decile               int64
dtype: object

In [236]:
# convert all datetime columns
people['birth_date'] = pd.to_datetime(people['birth_date'])
people['first_jailing_date'] = pd.to_datetime(people['first_jailing_date'])
people['last_jailing_date'] = pd.to_datetime(people['last_jailing_date'])
people['last_jailing_release'] = pd.to_datetime(people['last_jailing_release'])
people['first_incarceration_date'] = pd.to_datetime(people['first_incarceration_date'])
people['last_incarceration_date'] = pd.to_datetime(people['last_incarceration_date'])
people['last_incarceration_release'] = pd.to_datetime(people['last_incarceration_release'])

In [237]:
# final dtype/null check
people.info()
# looks like we only have null issues for folks who were never jailed and/or imprisoned
# Q for group - what to do with these?
# A: combine jailing/incarceration - if no incarceration, use jailing; drop people with neither

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11757 entries, 0 to 11756
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_id                   11757 non-null  int64
 1   sex                         11757 non-null  object
 2   race                        11757 non-null  object
 3   birth_date                  11757 non-null  datetime64[ns]
 4   num_jailings                11757 non-null  int64
 5   first_jailing_date          11030 non-null  datetime64[ns]
 6   last_jailing_date           11030 non-null  datetime64[ns]
 7   last_jailing_release        11030 non-null  datetime64[ns]
 8   num_incarcerations          11757 non-null  int64
 9   first_incarceration_date    2068 non-null   datetime64[ns]
 10  last_incarceration_date     2068 non-null   datetime64[ns]
 11  last_incarceration_release  2068 non-null   datetime64[ns]
 12  comp_f_min_score            11757 non-null  int64
 13  comp_f_min_decile           11757 non-null  int64
 14  comp_f_max_score            11757 non-null  int64
 15  comp_f_max_decile           11757 non-null  int64
 16  comp_r_min_score            11757 non-null  float64
 17  comp_r_min_decile           11757 non-null  int64
 18  comp_r_max_score            11757 non-null  float64
 19  comp_r_max_decile           11757 non-null  int64
 20  comp_v_min_score            11757 non-null  float64
 21  comp_v_min_decile           11757 non-null  int64
 22  comp_v_max_score            11757 non-null  float64
 23  comp_v_max_decile           11757 non-null  int64
dtypes: datetime64[ns](7), float64(4), int64(11), object(2)
memory usage: 2.2+ MB

In [238]:
people['first_incarceration_date'] = people['first_incarceration_date'].combine_first(people['first_jailing_date'])
people['last_incarceration_date'] = people['last_incarceration_date'].combine_first(people['last_jailing_date'])
people['last_incarceration_release'] = people['last_incarceration_release'].combine_first(people['last_jailing_release'])
people['num_incarcerations'] += people['num_jailings']

In [239]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11757 entries, 0 to 11756
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_id                   11757 non-null  int64
 1   sex                         11757 non-null  object
 2   race                        11757 non-null  object
 3   birth_date                  11757 non-null  datetime64[ns]
 4   num_jailings                11757 non-null  int64
 5   first_jailing_date          11030 non-null  datetime64[ns]
 6   last_jailing_date           11030 non-null  datetime64[ns]
 7   last_jailing_release        11030 non-null  datetime64[ns]
 8   num_incarcerations          11757 non-null  int64
 9   first_incarceration_date    11127 non-null  datetime64[ns]
 10  last_incarceration_date     11127 non-null  datetime64[ns]
 11  last_incarceration_release  11127 non-null  datetime64[ns]
 12  comp_f_min_score            11757 non-null  int64
 13  comp_f_min_decile           11757 non-null  int64
 14  comp_f_max_score            11757 non-null  int64
 15  comp_f_max_decile           11757 non-null  int64
 16  comp_r_min_score            11757 non-null  float64
 17  comp_r_min_decile           11757 non-null  int64
 18  comp_r_max_score            11757 non-null  float64
 19  comp_r_max_decile           11757 non-null  int64
 20  comp_v_min_score            11757 non-null  float64
 21  comp_v_min_decile           11757 non-null  int64
 22  comp_v_max_score            11757 non-null  float64
 23  comp_v_max_decile           11757 non-null  int64
dtypes: datetime64[ns](7), float64(4), int64(11), object(2)
memory usage: 2.2+ MB

In [240]:
# now we can dropna and drop the jailing columns
people = people.drop(columns = ['num_jailings', 'first_jailing_date', 'last_jailing_date', 'last_jailing_release']).dropna()

In [241]:
people.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11127 entries, 0 to 11756
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_id                   11127 non-null  int64
 1   sex                         11127 non-null  object
 2   race                        11127 non-null  object
 3   birth_date                  11127 non-null  datetime64[ns]
 4   num_incarcerations          11127 non-null  int64
 5   first_incarceration_date    11127 non-null  datetime64[ns]
 6   last_incarceration_date     11127 non-null  datetime64[ns]
 7   last_incarceration_release  11127 non-null  datetime64[ns]
 8   comp_f_min_score            11127 non-null  int64
 9   comp_f_min_decile           11127 non-null  int64
 10  comp_f_max_score            11127 non-null  int64
 11  comp_f_max_decile           11127 non-null  int64
 12  comp_r_min_score            11127 non-null  float64
 13  comp_r_min_decile           11127 non-null  int64
 14  comp_r_max_score            11127 non-null  float64
 15  comp_r_max_decile           11127 non-null  int64
 16  comp_v_min_score            11127 non-null  float64
 17  comp_v_min_decile           11127 non-null  int64
 18  comp_v_max_score            11127 non-null  float64
 19  comp_v_max_decile           11127 non-null  int64
dtypes: datetime64[ns](4), float64(4), int64(10), object(2)
memory usage: 1.8+ MB

In [242]:
# read in charges dataset
charges = pd.read_csv('./data/FL/final_charges.csv')
charges.head()

,person_id,case_number,offense_date,charge_degree,charge,arrest_date
0,1,09083797TI30A,2009-08-11 00:00:00.000000,(0),Unlawful Speed (Requires Speeds),NaN
1,1,09098832TI20A,2009-10-24 00:00:00.000000,(0),Speed/65 Interstate,NaN
2,1,13009443TI30A,2013-01-14 00:00:00.000000,(0),Disobey/Ran Stop Sign,NaN
3,1,13009443TI30A,2013-01-14 00:00:00.000000,(0),Expired Tag/Infraction,NaN
4,1,13011352CF10A,2013-08-13 00:00:00.000000,(F3),Aggravated Assault w/Firearm,2013-08-13 00:00:00.000000

In [243]:
charges.dtypes

person_id         int64
case_number      object
offense_date     object
charge_degree    object
charge           object
arrest_date      object
dtype: object

In [244]:
# convert datetimes
charges['offense_date'] = pd.to_datetime(charges['offense_date'])
charges['arrest_date'] = pd.to_datetime(charges['arrest_date'])

In [245]:
# final dtypes/null check
charges.info()
# looks like we have some null charges, those can probably be dropped safely
# but there are a lot of null arrest dates
# Q for group - same as above

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140034 entries, 0 to 140033
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   person_id      140034 non-null  int64
 1   case_number    140034 non-null  object
 2   offense_date   140034 non-null  datetime64[ns]
 3   charge_degree  140034 non-null  object
 4   charge         139605 non-null  object
 5   arrest_date    92150 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 6.4+ MB

In [246]:
# for the charges - what's the difference between offense date and arrest date?
charges[(charges['offense_date'] != charges['arrest_date']) & (charges['arrest_date'].notnull())]
# looks like we have a lot of differences - arrest date is an arbitrary amount of time after offense
# we'll keep both for now

,person_id,case_number,offense_date,charge_degree,charge,arrest_date
9,3,13009779CF10A,2013-07-05,(F2),Sexual Battery / Vict 12 Yrs +,2013-07-09
10,3,13009779CF10A,2013-07-05,(F3),False Imprisonment,2013-07-09
11,3,13009779CF10A,2013-07-05,(F3),Felony Battery (Dom Strang),2013-07-09
25,4,13004375TC10A,2012-10-04,(M2),Driving License Suspended,2012-12-04
53,6,12014130CF10A,2012-04-29,(F3),Aggravated Assault W/Firearm,2013-01-09
...,...,...,...,...,...,...
139919,11744,11005034TC20A,2011-01-15,(0),U-turn Improper Unsafe Prohibited,2011-08-21
139920,11744,11005034TC20A,2011-01-15,(M2),Drive While License Susp By FRD,2011-08-21
139993,11752,96002102TC20A,1996-01-06,(TCX),License Suspended Revoked,1996-03-19
140031,11756,12018116MM10A,2012-06-04,(0),Careless Driving,2013-05-21
140032,11756,12018116MM10A,2012-06-04,(M1),DUI Property Damage/Injury,2013-05-21

In [247]:
# so how do we combine these into one useful dataset?
# proposal for charges:
# keep earliest offense, charge degree, charge, and arrest date as columns
# keep latest offense, charge degree, charge, and arrest date as columns
# pivot charge_degree into count columns per degree
# keep a concatenated version of all charge descriptions for NLP
# also create a column of the mean time between offenses and the mean time between arrests
# ending up with one row per person to be joined with main people dataset

In [248]:
people['first_offense_date'] = \
    people.join(charges.sort_values(by = ['person_id', 'offense_date']).groupby('person_id')['offense_date'].first(),
    on = 'person_id',
    how = 'left')['offense_date']

In [249]:
people['first_charge_degree'] = \
    people.join(charges.sort_values(by = ['person_id', 'offense_date']).groupby('person_id')['charge_degree'].first(),
    on = 'person_id',
    how = 'left')['charge_degree']

In [250]:
people['first_charge'] = \
    people.join(charges.sort_values(by = ['person_id', 'offense_date']).groupby('person_id')['charge'].first(),
    on = 'person_id',
    how = 'left')['charge']

In [251]:
people['first_arrest_date'] = \
    people.join(charges.sort_values(by = ['person_id', 'offense_date']).groupby('person_id')['arrest_date'].first(),
    on = 'person_id',
    how = 'left')['arrest_date']

In [252]:
people['last_offense_date'] = \
    people.join(charges.sort_values(by = ['person_id', 'offense_date']).groupby('person_id')['offense_date'].last(),
    on = 'person_id',
    how = 'left')['offense_date']

In [253]:
people['last_charge_degree'] = \
    people.join(charges.sort_values(by = ['person_id', 'offense_date']).groupby('person_id')['charge_degree'].last(),
    on = 'person_id',
    how = 'left')['charge_degree']

In [254]:
people['last_charge'] = \
    people.join(charges.sort_values(by = ['person_id', 'offense_date']).groupby('person_id')['charge'].last(),
    on = 'person_id',
    how = 'left')['charge']

In [255]:
people['last_arrest_date'] = \
    people.join(charges.sort_values(by = ['person_id', 'offense_date']).groupby('person_id')['arrest_date'].last(),
    on = 'person_id',
    how = 'left')['arrest_date']

In [256]:
# weird that we have to select a column out of this
charge_pivot = pd.pivot_table(charges, index = 'person_id', columns = 'charge_degree', aggfunc = 'count')['arrest_date']

In [257]:
# let's fix the names
charge_pivot.columns = ['charge_degree_' + col.replace('(', '').replace(')', '') for col in charge_pivot.columns]

In [258]:
people = people.join(charge_pivot, on = 'person_id', how = 'left')

In [259]:
people.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11127 entries, 0 to 11756
Data columns (total 46 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_id                   11127 non-null  int64
 1   sex                         11127 non-null  object
 2   race                        11127 non-null  object
 3   birth_date                  11127 non-null  datetime64[ns]
 4   num_incarcerations          11127 non-null  int64
 5   first_incarceration_date    11127 non-null  datetime64[ns]
 6   last_incarceration_date     11127 non-null  datetime64[ns]
 7   last_incarceration_release  11127 non-null  datetime64[ns]
 8   comp_f_min_score            11127 non-null  int64
 9   comp_f_min_decile           11127 non-null  int64
 10  comp_f_max_score            11127 non-null  int64
 11  comp_f_max_decile           11127 non-null  int64
 12  comp_r_min_score            11127 non-null  float64
 13  comp_r_min_decile           11127 non-null  int64
 14  comp_r_max_score            11127 non-null  float64
 15  comp_r_max_decile           11127 non-null  int64
 16  comp_v_min_score            11127 non-null  float64
 17  comp_v_min_decile           11127 non-null  int64
 18  comp_v_max_score            11127 non-null  float64
 19  comp_v_max_decile           11127 non-null  int64
 20  first_offense_date          10782 non-null  datetime64[ns]
 21  first_charge_degree         10782 non-null  object
 22  first_charge                10780 non-null  object
 23  first_arrest_date           10645 non-null  datetime64[ns]
 24  last_offense_date           10782 non-null  datetime64[ns]
 25  last_charge_degree          10782 non-null  object
 26  last_charge                 10780 non-null  object
 27  last_arrest_date            10645 non-null  datetime64[ns]
 28  charge_degree_0             7899 non-null   float64
 29  charge_degree_CO3           99 non-null     float64
 30  charge_degree_CT            12 non-null     float64
 31  charge_degree_F1            1092 non-null   float64
 32  charge_degree_F2            3722 non-null   float64
 33  charge_degree_F3            7596 non-null   float64
 34  charge_degree_F5            18 non-null     float64
 35  charge_degree_F6            20 non-null     float64
 36  charge_degree_F7            338 non-null    float64
 37  charge_degree_M1            8384 non-null   float64
 38  charge_degree_M2            6148 non-null   float64
 39  charge_degree_M3            3 non-null      float64
 40  charge_degree_MO3           1498 non-null   float64
 41  charge_degree_NI0           366 non-null    float64
 42  charge_degree_TC4           76 non-null     float64
 43  charge_degree_TCX           502 non-null    float64
 44  charge_degree_X             13 non-null     float64
 45  charge_degree_XXXXXXXXXX    4 non-null      float64
dtypes: datetime64[ns](8), float64(22), int64(10), object(6)
memory usage: 4.0+ MB

In [260]:
# https://stackoverflow.com/questions/27298178/concatenate-strings-from-several-rows-using-pandas-groupby
agg_charges = charges[charges['charge'].notnull()].groupby('person_id').agg({'charge': '|'.join})

In [261]:
agg_charges

                                                      charge
person_id
1          Unlawful Speed (Requires Speeds)|Speed/65 Inte...
3          Felony Battery w/Prior Convict|Sexual Battery ...
4          Learner's Driver's License Vio|Speed Posted Mu...
5          Operating W/O Valid License|Ped Fail Obey Traf...
6          Viol Injunct Domestic Violence|Unlawful Speed ...
...                                                      ...
11753      Expired Tag/Infraction|Operating W/O Valid Lic...
11754      Bike / Fail To Wear Helmet|Operating W/O Valid...
11755      Battery|Fail To Display Registration|Unlawful ...
11756      Giving False Crime Report|Careless Driving|DUI...
11757                          Grand Theft in the 3rd Degree

[11140 rows x 1 columns]

In [262]:
people['agg_charges'] = \
    people.join(agg_charges, on = 'person_id', how = 'left')['charge']

In [263]:
people.head()

,person_id,sex,race,birth_date,num_incarcerations,first_incarceration_date,last_incarceration_date,last_incarceration_release,comp_f_min_score,comp_f_min_decile,...,charge_degree_M1,charge_degree_M2,charge_degree_M3,charge_degree_MO3,charge_degree_NI0,charge_degree_TC4,charge_degree_TCX,charge_degree_X,charge_degree_XXXXXXXXXX,agg_charges
0,1,Male,Other,1947-04-18,2,2013-08-13 06:03:42,2014-07-07 09:26:12,2014-07-14 08:24:15,13,1,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unlawful Speed (Requires Speeds)|Speed/65 Inte...
1,2,Male,Caucasian,1985-02-06,1,2014-12-30 10:47:52,2014-12-30 10:47:52,2015-01-03 02:18:24,16,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Male,African-American,1982-01-22,2,2015-10-15 00:00:00,2015-10-15 00:00:00,2015-12-07 00:00:00,25,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Felony Battery w/Prior Convict|Sexual Battery ...
3,4,Male,African-American,1991-05-14,5,2013-04-13 04:58:34,2016-01-08 09:59:55,2016-01-09 04:41:39,26,7,...,8.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Learner's Driver's License Vio|Speed Posted Mu...
6,7,Male,Other,1971-08-22,1,2013-11-30 04:50:18,2013-11-30 04:50:18,2013-12-01 12:28:56,19,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Battery

In [264]:
# https://stackoverflow.com/questions/45241221/python-pandas-calculate-average-days-between-dates
charges['previous_offense'] = \
    charges.sort_values(by = ['person_id', 'offense_date']).groupby(['person_id'])['offense_date'].shift(1)
charges['days_between_offenses'] = \
    (charges['offense_date'] - charges['previous_offense']).apply(lambda x: x.days)

In [265]:
charges['previous_arrest'] = \
    charges.sort_values(by = ['person_id', 'arrest_date']).groupby(['person_id'])['arrest_date'].shift(1)
charges['days_between_arrests'] = \
    (charges['arrest_date'] - charges['previous_arrest']).apply(lambda x: x.days)

In [266]:
charges

,person_id,case_number,offense_date,charge_degree,charge,arrest_date,previous_offense,days_between_offenses,previous_arrest,days_between_arrests
0,1,09083797TI30A,2009-08-11,(0),Unlawful Speed (Requires Speeds),NaT,NaT,NaN,2013-08-13,NaN
1,1,09098832TI20A,2009-10-24,(0),Speed/65 Interstate,NaT,2009-08-11,74.0,NaT,NaN
2,1,13009443TI30A,2013-01-14,(0),Disobey/Ran Stop Sign,NaT,2009-10-24,1178.0,NaT,NaN
3,1,13009443TI30A,2013-01-14,(0),Expired Tag/Infraction,NaT,2013-01-14,0.0,NaT,NaN
4,1,13011352CF10A,2013-08-13,(F3),Aggravated Assault w/Firearm,2013-08-13,2013-01-14,211.0,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...
140029,11755,16003359TI10A,2016-02-07,(0),Driving W/O Lights,NaT,2014-10-07,488.0,NaT,NaN
140030,11756,12003460MM10A,2012-02-19,(M1),Giving False Crime Report,2012-02-19,NaT,NaN,NaT,NaN
140031,11756,12018116MM10A,2012-06-04,(0),Careless Driving,2013-05-21,2012-02-19,106.0,2012-02-19,457.0
140032,11756,12018116MM10A,2012-06-04,(M1),DUI Property Damage/Injury,2013-05-21,2012-06-04,0.0,2013-05-21,0.0
140033,11757,14000455CF10A,2014-01-10,(F3),Grand Theft in the 3rd Degree,2014-01-10,NaT,NaN,NaT,NaN

In [267]:
# need to remove zeros - don't want them affecting the averages
days_between_offenses = charges[charges['days_between_offenses'] > 0].groupby('person_id')['days_between_offenses'].mean()
days_between_arrests = charges[charges['days_between_arrests'] > 0].groupby('person_id')['days_between_arrests'].mean()

In [268]:
people['avg_days_between_offenses'] = \
    people.join(days_between_offenses, on = 'person_id', how = 'left')['days_between_offenses']
people['avg_days_between_arrests'] = \
    people.join(days_between_arrests, on = 'person_id', how = 'left')['days_between_arrests']

In [269]:
people

,person_id,sex,race,birth_date,num_incarcerations,first_incarceration_date,last_incarceration_date,last_incarceration_release,comp_f_min_score,comp_f_min_decile,...,charge_degree_M3,charge_degree_MO3,charge_degree_NI0,charge_degree_TC4,charge_degree_TCX,charge_degree_X,charge_degree_XXXXXXXXXX,agg_charges,avg_days_between_offenses,avg_days_between_arrests
0,1,Male,Other,1947-04-18,2,2013-08-13 06:03:42,2014-07-07 09:26:12,2014-07-14 08:24:15,13,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unlawful Speed (Requires Speeds)|Speed/65 Inte...,312.400000,NaN
1,2,Male,Caucasian,1985-02-06,1,2014-12-30 10:47:52,2014-12-30 10:47:52,2015-01-03 02:18:24,16,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Male,African-American,1982-01-22,2,2015-10-15 00:00:00,2015-10-15 00:00:00,2015-12-07 00:00:00,25,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Felony Battery w/Prior Convict|Sexual Battery ...,160.000000,164.000000
3,4,Male,African-American,1991-05-14,5,2013-04-13 04:58:34,2016-01-08 09:59:55,2016-01-09 04:41:39,26,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Learner's Driver's License Vio|Speed Posted Mu...,212.833333,245.333333
6,7,Male,Other,1971-08-22,1,2013-11-30 04:50:18,2013-11-30 04:50:18,2013-12-01 12:28:56,19,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Battery,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11751,11752,Male,African-American,1953-02-24,2,2013-02-25 09:20:49,2013-03-28 02:22:16,2013-05-07 09:19:00,16,2,...,NaN,0.0,NaN,1.0,2.0,NaN,NaN,Expired Tag More Than 6 Months|Fail To Stop St...,909.222222,1636.600000
11752,11753,Male,Other,1968-05-02,1,2013-09-21 04:06:00,2013-09-21 04:06:00,2013-09-22 08:16:13,19,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Expired Tag/Infraction|Operating W/O Valid Lic...,1562.000000,1562.000000
11753,11754,Male,Caucasian,1993-06-24,1,2013-05-16 08:58:35,2013-05-16 08:58:35,2013-05-18 07:59:30,21,4,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Bike / Fail To Wear Helmet|Operating W/O Valid...,210.642857,NaN
11755,11756,Male,Caucasian,1986-12-04,1,2013-05-21 03:12:58,2013-05-21 03:12:58,2013-05-22 09:04:20,23,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Giving False Crime Report|Careless Driving|DUI...,106.000000,457.000000
11756,11757,Male,Asian,1982-02-19,1,2014-01-10 06:49:02,2014-01-10 06:49:02,2014-01-11 01:45:55,11,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Grand Theft in the 3rd Degree,NaN,NaN

In [270]:
people.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11127 entries, 0 to 11756
Data columns (total 49 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_id                   11127 non-null  int64
 1   sex                         11127 non-null  object
 2   race                        11127 non-null  object
 3   birth_date                  11127 non-null  datetime64[ns]
 4   num_incarcerations          11127 non-null  int64
 5   first_incarceration_date    11127 non-null  datetime64[ns]
 6   last_incarceration_date     11127 non-null  datetime64[ns]
 7   last_incarceration_release  11127 non-null  datetime64[ns]
 8   comp_f_min_score            11127 non-null  int64
 9   comp_f_min_decile           11127 non-null  int64
 10  comp_f_max_score            11127 non-null  int64
 11  comp_f_max_decile           11127 non-null  int64
 12  comp_r_min_score            11127 non-null  float64
 13  comp_r_min_decile           11127 non-null  int64
 14  comp_r_max_score            11127 non-null  float64
 15  comp_r_max_decile           11127 non-null  int64
 16  comp_v_min_score            11127 non-null  float64
 17  comp_v_min_decile           11127 non-null  int64
 18  comp_v_max_score            11127 non-null  float64
 19  comp_v_max_decile           11127 non-null  int64
 20  first_offense_date          10782 non-null  datetime64[ns]
 21  first_charge_degree         10782 non-null  object
 22  first_charge                10780 non-null  object
 23  first_arrest_date           10645 non-null  datetime64[ns]
 24  last_offense_date           10782 non-null  datetime64[ns]
 25  last_charge_degree          10782 non-null  object
 26  last_charge                 10780 non-null  object
 27  last_arrest_date            10645 non-null  datetime64[ns]
 28  charge_degree_0             7899 non-null   float64
 29  charge_degree_CO3           99 non-null     float64
 30  charge_degree_CT            12 non-null     float64
 31  charge_degree_F1            1092 non-null   float64
 32  charge_degree_F2            3722 non-null   float64
 33  charge_degree_F3            7596 non-null   float64
 34  charge_degree_F5            18 non-null     float64
 35  charge_degree_F6            20 non-null     float64
 36  charge_degree_F7            338 non-null    float64
 37  charge_degree_M1            8384 non-null   float64
 38  charge_degree_M2            6148 non-null   float64
 39  charge_degree_M3            3 non-null      float64
 40  charge_degree_MO3           1498 non-null   float64
 41  charge_degree_NI0           366 non-null    float64
 42  charge_degree_TC4           76 non-null     float64
 43  charge_degree_TCX           502 non-null    float64
 44  charge_degree_X             13 non-null     float64
 45  charge_degree_XXXXXXXXXX    4 non-null      float64
 46  agg_charges                 10780 non-null  object
 47  avg_days_between_offenses   8944 non-null   float64
 48  avg_days_between_arrests    6481 non-null   float64
dtypes: datetime64[ns](8), float64(24), int64(10), object(7)
memory usage: 4.2+ MB

In [271]:
# now we gotta decide what to do about the folks who had no charge data - it's about 350, we can lose them
people = people[people['first_offense_date'].notnull()]

In [272]:
people.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10782 entries, 0 to 11756
Data columns (total 49 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_id                   10782 non-null  int64
 1   sex                         10782 non-null  object
 2   race                        10782 non-null  object
 3   birth_date                  10782 non-null  datetime64[ns]
 4   num_incarcerations          10782 non-null  int64
 5   first_incarceration_date    10782 non-null  datetime64[ns]
 6   last_incarceration_date     10782 non-null  datetime64[ns]
 7   last_incarceration_release  10782 non-null  datetime64[ns]
 8   comp_f_min_score            10782 non-null  int64
 9   comp_f_min_decile           10782 non-null  int64
 10  comp_f_max_score            10782 non-null  int64
 11  comp_f_max_decile           10782 non-null  int64
 12  comp_r_min_score            10782 non-null  float64
 13  comp_r_min_decile           10782 non-null  int64
 14  comp_r_max_score            10782 non-null  float64
 15  comp_r_max_decile           10782 non-null  int64
 16  comp_v_min_score            10782 non-null  float64
 17  comp_v_min_decile           10782 non-null  int64
 18  comp_v_max_score            10782 non-null  float64
 19  comp_v_max_decile           10782 non-null  int64
 20  first_offense_date          10782 non-null  datetime64[ns]
 21  first_charge_degree         10782 non-null  object
 22  first_charge                10780 non-null  object
 23  first_arrest_date           10645 non-null  datetime64[ns]
 24  last_offense_date           10782 non-null  datetime64[ns]
 25  last_charge_degree          10782 non-null  object
 26  last_charge                 10780 non-null  object
 27  last_arrest_date            10645 non-null  datetime64[ns]
 28  charge_degree_0             7899 non-null   float64
 29  charge_degree_CO3           99 non-null     float64
 30  charge_degree_CT            12 non-null     float64
 31  charge_degree_F1            1092 non-null   float64
 32  charge_degree_F2            3722 non-null   float64
 33  charge_degree_F3            7596 non-null   float64
 34  charge_degree_F5            18 non-null     float64
 35  charge_degree_F6            20 non-null     float64
 36  charge_degree_F7            338 non-null    float64
 37  charge_degree_M1            8384 non-null   float64
 38  charge_degree_M2            6148 non-null   float64
 39  charge_degree_M3            3 non-null      float64
 40  charge_degree_MO3           1498 non-null   float64
 41  charge_degree_NI0           366 non-null    float64
 42  charge_degree_TC4           76 non-null     float64
 43  charge_degree_TCX           502 non-null    float64
 44  charge_degree_X             13 non-null     float64
 45  charge_degree_XXXXXXXXXX    4 non-null      float64
 46  agg_charges                 10780 non-null  object
 47  avg_days_between_offenses   8944 non-null   float64
 48  avg_days_between_arrests    6481 non-null   float64
dtypes: datetime64[ns](8), float64(24), int64(10), object(7)
memory usage: 4.1+ MB

In [274]:
people.columns

Index(['person_id', 'sex', 'race', 'birth_date', 'num_incarcerations',
       'first_incarceration_date', 'last_incarceration_date',
       'last_incarceration_release', 'comp_f_min_score', 'comp_f_min_decile',
       'comp_f_max_score', 'comp_f_max_decile', 'comp_r_min_score',
       'comp_r_min_decile', 'comp_r_max_score', 'comp_r_max_decile',
       'comp_v_min_score', 'comp_v_min_decile', 'comp_v_max_score',
       'comp_v_max_decile', 'first_offense_date', 'first_charge_degree',
       'first_charge', 'first_arrest_date', 'last_offense_date',
       'last_charge_degree', 'last_charge', 'last_arrest_date',
       'charge_degree_0', 'charge_degree_CO3', 'charge_degree_CT',
       'charge_degree_F1', 'charge_degree_F2', 'charge_degree_F3',
       'charge_degree_F5', 'charge_degree_F6', 'charge_degree_F7',
       'charge_degree_M1', 'charge_degree_M2', 'charge_degree_M3',
       'charge_degree_MO3', 'charge_degree_NI0', 'charge_degree_TC4',
       'charge_degree_TCX', 'charge_degree_X', 'charge_degree_XXXXXXXXXX',
       'agg_charges', 'avg_days_between_offenses', 'avg_days_between_arrests'],
      dtype='object')